.navbar-icon {
    display: inline-block;
    position: absolute;
    left: 50%;
    height: 50px;
    padding: 10px 10px;
    line-height: 30px;
    margin-left: -25px;
}
.navbar-right {
    margin-right: 0px;
}
.dropdown {
    display: inline-block;
}
.page-container {
    padding-top: 56px;
}